/*@import '~antd/lib/style/themes/default.less';*/

.btn {
  margin-right: 10px;
}

.photoEditCard {
  width: 100%;
  margin-bottom: 20px;
}

.photoEditDiv {
  height: 60px;
  overflow: hidden;
}

.photoEditTextarea {
  
}