/*@import '~antd/lib/style/themes/default.less';*/

.btn {
  margin-right: 10px;
}

.photoEditCard {
  width: auto;
  margin: 10px 10px;
}

.photoNoData {
  width: 10%;
  margin-left: 45%;
}

.photoEditDiv {
  height: 60px;
  overflow: hidden;
}

.page {
  margin: 10px 10px;
}

.photoViewHead {
  font-size: 24px;
  font-weight: bold;
}

strong {
  color: green;
}

.photoTitle {
  color: red;
}
